<div class="container">
  <button mat-button mat-flat-button color="primary" (click)="openCreateEventDialog()">Event hinzufügen</button>
</div>
<br><br>

<full-calendar [options]="calendarOptions"></full-calendar>


<table>
  <thead>
    <th>
      Boulder Olymp
    </th>
    <th>
      Rocklands
    </th>
  </thead>
  <tbody>
  <tr>
    <td>
      {{boulderVisitsCounterOlymp}}
    </td>
    <td>
      {{boulderVisitsCounterRocklands}}
    </td>
  </tr>
  </tbody>
</table>

<br>

<p style="font-weight: 500">
  * Gesamte Statistik seit Beginn
</p>


