<div class="container">
  <h1>Training-Übersicht</h1>
  <button mat-button mat-flat-button class="createButton" (click)="openCreateEventDialog()">Training hinzufügen</button>
</div>
<br><br>

<full-calendar [options]="calendarOptions"></full-calendar>

<h1>Statistik</h1>

<table>
  <thead>
    <th>
      Boulder Olymp
    </th>
    <th>
      Rocklands
    </th>
  </thead>
  <tbody>
  <tr>
    <td>
      {{boulderVisitsCounterOlymp}}
    </td>
    <td>
      {{boulderVisitsCounterRocklands}}
    </td>
  </tr>
  </tbody>
</table>

<br>

<p style="font-weight: 500">
  * Gesamte Statistik seit Beginn
</p>


