<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <button (click)="navigateToOverview()" mat-button><a class="navbar-brand"> Masman </a></button>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <button (click)="logout()" mat-button><a class="nav-link">Logout</a></button>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button (click)="navigateToLogin()" mat-button><a class="nav-link">Login</a></button>
      </li>
    </ul>

  </nav>
</div>
