a {
  text-transform: uppercase;
}

.bg-dark {
  background-color: var(--darkBlue) !important;
  border-bottom: 5px solid var(--highlight);
}

a.logout.nav-link {
  margin-top: 3px !important;
}

@media only screen and (max-width: 600px) {
  a {
    font-size: 13px;
  }
}

mat-toolbar {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 14px 0px !important;
}

.title {
  color: var(--orange);
}

button {
  color: var(--darkGray);
}
