<h2 mat-dialog-title>Event hinzufügen</h2>

<mat-dialog-content class="mat-typography">
  <form>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Datum auswählen</mat-label>
        <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="date" autocomplete="off" value="Hello">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Event eintragen (z.B. Dehnen)</mat-label>
        <input matInput name="event" [(ngModel)]="event">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Ort auswählen...</mat-label>
        <mat-select [(ngModel)]="selectedLocation" name="location">
          <mat-option value="Boulder Olymp">Boulder Olymp</mat-option>
          <mat-option value="Rocklands">Rocklands</mat-option>
          <mat-option value="Camp4 Zweibrücken">Camp4 Zweibrücken</mat-option>
          <mat-option value="Kletterzentrum SB">Kletterzentrum SB</mat-option>
          <mat-option value="KBA Boulderhalle">KBA Boulderhalle</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div *ngIf="auth.user$ | async as user">
    <button mat-button mat-dialog-close class="cancelButton">Abbrechen</button>
    <button mat-button mat-flat-button class="primaryButton" [mat-dialog-close]="true"
            (click)="calendar.updateCalendarData(user.uid, event, date, selectedLocation)">Speichern</button>
  </div>
</mat-dialog-actions>
