.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  margin-top: 2em;
}

.category-image {
  width: 100%;
  height: auto;
}

mat-chip {
  background-color: var(--kraft) !important;
  color: #fff !important;
}

.workouts {
  margin-bottom: 2em;
}
