<h1> Workouts</h1>

<div class="container">
  <button mat-button mat-flat-button color="primary" (click)="openCreateWorkoutDialog()">Workout hinzufügen</button>

  <mat-card *ngFor="let workout of workoutList">
    <mat-card-title>{{workout['name']}}</mat-card-title>
    <mat-card-subtitle>{{workout['category']}} - {{workout['rounds']}} Runden</mat-card-subtitle>
    <mat-card-content>
      <p>Übung 1: <strong>{{workout['exercise1']}}</strong></p>
      <p>Übung 2: <strong>{{workout['exercise2']}}</strong></p>
      <p>Übung 3: <strong>{{workout['exercise3']}}</strong></p>
      <p>Übung 4: <strong>{{workout['exercise4']}}</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-flat-button color="warn" (click)="startWorkout(workout['id'])">Workout starten</button>
    </mat-card-actions>
  </mat-card>
</div>



