<div class="container">

  <div class="workout-card">

    <div>
      <h2 class="header"> Workout {{ workouts[0]['workout'] }} </h2>
    </div>

    <table class="table">
      <thead>
        <th> Übung </th>
        <th> Reps / Time </th>
        <th> Sets </th>
      </thead>
      <tbody>
        <tr *ngFor="let workout of workouts">
          <td> {{  workout['name']  }} </td>
          <td> {{  workout['intensity']  }} </td>
          <td> 4 </td>
        </tr>
      </tbody>
    </table>

    <button mat-button class="startWorkoutBtn" (click)="startWorkout()"> Starten </button>

  </div>

</div>
