<h1> Ziele für das Jahr 2022</h1>

<h2> Routen im Boulder Olymp </h2>

<div class="container">

<table>
  <thead>
  <th>
    Anzahl
  </th>
  <th>
    Hinzufügen
  </th>
  <th>
    Entfernen
  </th>

  </thead>
  <tbody>
  <tr>
    <td>
      {{ counterWhite }}
    </td>
    <td>
      <button mat-flat-button class="white" (click)="countWhite('+')">
        <mat-icon>add_circle</mat-icon>
      </button>
    </td>
    <td>
      <button mat-flat-button class="white" (click)="countWhite('-')">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>

  <tr>
    <td>
      {{ counterBlue }}
    </td>
    <td>
      <button mat-flat-button class="blue" (click)="countBlue('+')">
        <mat-icon>add_circle</mat-icon>
      </button>
    </td>
    <td>
      <button mat-flat-button class="blue" (click)="countBlue('-')">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>

  <tr>
    <td>
      {{ counterOrange }}
    </td>
    <td>
      <button mat-flat-button class="orange" (click)="countOrange('+')">
        <mat-icon>add_circle</mat-icon>
      </button>
    </td>
    <td>
      <button mat-flat-button class="orange" (click)="countOrange('-')">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>

  </tbody>
</table>
</div>
