:root {
  --darkBlue: #120E43;
  --highlight: #BF3312;
  --red: #DF1B1B;
  --green: #01B633;
  --blue: #1b7abd;
  --lightBlue: #3f93cf;
  --orange: #ff7f66;
  --lightOrange: #ffc5b7;
  --darkGray: #4e4e4e;
  --lightGray: #5a5a5a;
  --lightBlack: #212121;

  /* workout categories */
  --kraft: #d2691e;
  --hit: #f85c5c;
  --core: #ecc858;
  --beine: #90ba90;
  --laufen: #bdb4a8;
  --mobility: #ffb6c1;
  --push: #5a5a5a;
  --pull: #A3CBD3;
}
