:root {
  --darkBlue: #120E43;
  --highlight: #BF3312;
  --red: #DF1B1B;
  --green: #01B633;

  /* categories */
  --kraft: #d2691e;
  --comp: #166297;
  --blue: #1b7abd;
  --lightBlue: #3f93cf;
  --orange: #ff7f66;
  --lightOrange: #ffc5b7;
  --darkGray: #4e4e4e;
  --lightGray: #5a5a5a;
  --lightBlack: #212121;
}
