.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 75%;
}

mat-form-field {
  width: 100%;
}

h1 {
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.records {
  margin-top: 30px;
  margin-bottom: 50px;
}

.add_record_btn {
  width: 200px;
  float: right;
  background-color: var(--highlight);
  color: white;
}

.mat-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

table {
  width: 100%;
}

td, th {
  width: 25%;
}

.header-cell {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.mat-row:nth-child(even) td {
  background-color: #f3f3f3 !important;
}

.mat-row:nth-child(odd) td{
  background-color:#EDF1F5 !important;
}

.mat-row:last-of-type {
  border-bottom: 2px solid var(--highlight);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100% !important;
  }
}
